
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Users
<div class="backgroundIndex"></div>
<div id="slide">
    <h1 class="display-4">Welcome <span class="userTrait" style="color:#4B1F0E; font-weight:bold;">@Model.Firstname!</span></h1>
    <h1>We see that you like your coffee roasted <span class="userTrait" style="color:#4B1F0E; font-weight:bold;"> @Model.Preference</span> @if (Model.HomeRoast == true)
    {<br /><span> and you <span class="userTrait" style="font-weight: bold; color:#4B1F0E;">home roast!</span></span>}!</h1>
</div>





