
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Items

    <div class="container text-center border-dark">
        <img class="img-fluid"  src="~/imgs/@Model.ItemType .jpg" />
        <h2 class="display-4 fontAnton" name="ProductName">@Model.ProductName</h2>
        <h3 class="display-4 fontJura" name="Description"> @Model.Description</h3>
    </div>

