
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ShopDBContext

<h1 class="display-3">Welcome to the Shop!</h1>
<div class="card-deck">
    @foreach (Items item in Model.Items)
    {<div class="card" style="border:3px solid #4B1F0E;">
         <div class="card-body text-center">
             <h2 class="card-title fontAnton">@item.ProductName</h2>
             <h3 class="card-text fontJura">@item.Description.</h3>
             <h3 class="card-text fontJura">Invetory: @item.Quantity.</h3>
             <h3 class="card-text fontJura">$@item.Price.</h3>
             @if (TempData["current"] != null)
             {
                 <button class="btn-lg text-light" style="background-color:#4B1F0E;">Buy!</button>
             }
         </div>
        </div>
    }


</div>
