
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ShopDBContext

<h1 class="display-3">Welcome to the Shop!</h1>
<div class="card-columns">
    @foreach (Items item in Model.Items)
    {
        <div class="card" style="border:3px solid #4B1F0E;">
            <div class="card-body text-center">
                <img class="card-img" src="~/imgs/@item.ItemType .jpg" />
                <h2 class="card-title fontAnton" name="ProductName">@item.ProductName</h2>
                <h3 class="card-text fontJura" name="Description">@item.Description.</h3>
                <h3 class="card-text fontJura" name="Quantity">Invetory: @item.Quantity.</h3>
                <h3 class="card-text fontJura" name="Price">$@item.Price.</h3>
                @if (TempData["current"] != null)
                {
            <form asp-controller="Home" asp-action="PurchaseItem">
                <button type="submit" class="btn-lg text-light" style="background-color:#4B1F0E;" name="ProductName" value="@item.ProductName">Buy!</button>
            </form>
                }

            </div>
        </div>

    }


</div>
